extends layout
block body
   .container.py-4 
      .row.justify-content-center 
         .col-md-10.card.p-4
            h2.text-center.font-weight-bold Tendances RedditLink
         .col-md-10.card.p-4.mt-4.reddit-posts 
            .row 
               each item in posts
                  .col-md-10.card.p-4.mt-4.reddit-posts 
                     .user-posts
                        img.avatar(src="/assets/images/user.png" width="50" alt="Image Title")
                        h4 #{item.pseudo}
                     .container 
                        a(href="#{item.link}") #{item.link}
                        p #{item.content}
                        .actions 
                           form(method="POST" action="like/#{item.id_possts}/#{iduser}")
                              button.btn.btn-success(type='submit')
                                 span #{item.likes}
                                 i.fas.fa-thumbs-up

            